# Binaries
42sh
debug
angry

# Batch
batch_runner

# Build
?build
.fast

# Coverage
*.gc??

# Config
.42shrc

# Lib
*.a

# Makefile overides
override.mk

# Logs
*.log

# Python cache (github action)
__pycache__
*.pyc

# Tests
run_tests
