# Binaries
42sh
42sh_afl
debug
angry

# Batch
batch_runner

# Build
?build
.fast

# Coverage
*.gc??

# Config
.42shrc
.42sh_history

## Cores files
*core.*

# Lib
*.a

# Makefile overides
override.mk

# AFL generated
tests/generated

# Logs
*.log

# Python cache (github action)
__pycache__
*.pyc

# Tests
run_tests

# Docs
.doxygen/
