# Binaries
42sh
42sh_afl
debug
angry

# Batch
batch_runner

# Build
?build
.fast

# Coverage
*.gc??

# Lib
*.a

# Makefile overides
override.mk

# AFL generated
tests/generated

# Logs
*.log

# Tests
run_tests
