name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GH_PUB_KEY:
    github.com ssh-ed25519 \
    AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl

jobs:
  runs-on: ubuntu-latest

  fix_headers:
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v2
          with:
            persist-credentials: false
            fetch-depth: 0
            python-version: '3.11'
            architecture: 'x64'
        - name: running script
          run: python ./.github/fix_headers.py
        - name: setup git
          run: |
            git config user.name "GitHub Actions"
            git config user.email "actions@pincer.dev"
        - name: add to git
          run: |
            git pull
            git add .
            git diff-index --quiet HEAD || git commit -m ":art: Fix Headers"
            git push origin main

  run_epitech_coding_style_checker:
    needs: [fix_headers]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GH_SSH_PRIVATE_KEY }}
          known_hosts: $GH_PUB_KEY
      - name: Setup Nix via cachix
        uses: cachix/install-nix-action@v20
      - name: Setup cachix cli
        run: nix-env -iA cachix -f https://cachix.org/api/v1/install
      - name: Install coding-style
        run: cachix use coding-style
      - name: Run
        run: |
          nix run github:Sigmanificient/coding-style-checker \
          --extra-experimental-features 'nix-command flakes'
  
  sync_repository:
    needs: [run_epitech_coding_style_checker]
    if: ${{ !github.event.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GH_SSH_PRIVATE_KEY }}
          known_hosts: $GH_PUB_KEY
      - name: push to epitech
        run: |
          git config --global user.email "edhyjox@gmail.com"
          git config --global user.name "Sigmanificient"
          git remote add epitech "${{ secrets.GH_TARGET_REPO }}"
          git fetch --unshallow origin
          git push epitech main --force
